<header>
    <h1>Find your job</h1>
    <div>
        <a 
            href="#" 
            class="button" 
            [ngClass]="{'active': activeButton === 'jobs'}" 
            (click)="setActiveButton('jobs')" 
            routerLink="">JOBS
        </a>
        <a 
            href="#" 
            class="button"       
            [ngClass]="{'active': activeButton === 'favorites'}" 
            (click)="setActiveButton('favorites')"  
            routerLink="favorites">FAVORITES
        </a>
    </div>>
</header>
<router-outlet></router-outlet>