table {
    table-layout: fixed;
    width: 1000px;
    margin: 0px auto;
}

.logoImage {
    max-width: 80px;
    min-width: 80px;
}

strong {
    margin-right: 5px;
}

tr {
    height: 35px;
}

button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    box-shadow: 0 9px #999;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }