@if(jobListingDetails.id){
<table>
    <thead>
        <div class="col">
            <div class="row">
                <img class="companyLogo" [src]="jobListingDetails.companyLogo">
                <h1 class="companyName">{{jobListingDetails.companyName}} - {{jobListingDetails.title}}</h1>
            </div>
            <div>
                <div class="typesPill">{{jobListingDetails.types}}</div> <div class="industriesPill">{{jobListingDetails.industries}}</div>
            </div>
        </div>
    </thead>
    <tbody>
        <button (click)="back()" class="primary">Previous Page</button>
        <tr><p><strong>Publish date:</strong>{{jobListingDetails.publishDate | date: 'shortDate'}}</p></tr>
        <tr><p><strong>Location:</strong>{{jobListingDetails.location}}</p></tr>
        <tr><p><strong>Reference:</strong>{{jobListingDetails.reference}}</p></tr>
        <tr><p><strong>Description:</strong></p></tr>
        <div [innerHTML]="jobListingDetails.description"></div>
    </tbody>
</table>
}
